body {
  margin: 0;
  padding: 0;
  font-family: "Google Sans", sans-serif;
  width: 100vw;
  min-width: 500px;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

/* NavBar */

.devsite-header {
  background-color: #fff;
  margin: 0;
  padding: 0px 24px 0px 24px;
  position: fixed;
  top: 0;
  width: 100vw;
  max-width: 100%;
  height: 48px;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 0px 12px 12px -12px #585858;
  z-index: 1;
}

/* Navbar logo */
.logo {
  width: 185px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.logo img {
  width: 100%;
  margin-top: 5px;
}

/* Developer product menu list */
.nav-wrapper {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  overflow: hidden;
  min-width: 0px;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 48px;
  overflow: hidden;
  min-width: 0px;
  flex: 1 1 auto;
}

.menu-list {
  margin: 0 36px 0 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}

.menu-list li {
  /* width: -moz-fit-content; */
  box-sizing: content-box;
  width: fit-content;
  list-style: none;
  font-size: 14px;
  font-weight: 400;
  padding: 10px 16px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  min-width: fit-content;
}

.menu-list :hover a {
  border-bottom: none;
}

.menu-list a {
  color: #5f6368;
  text-decoration: none;
}

.menu-arrow {
  color: #5f6368;
  display: inline-block;
  transform: scale(0.8, 0.5);
  margin: 0px 5px;
}

.toggle {
  display: none;
  padding: 8px;
  margin-left: -20px;
  line-height: 36px;
  cursor: pointer;
}

.hamberger-menu {
  border: 1px #585858 solid;
  width: 18px;
  margin: 0.2rem;
}

#switch {
  display: none;
}

/* Navbar Search bar */
.search-bar {
  margin: 6px 0 6px 0px;
  flex-shrink: 0;
  flex-grow: 0;
  flex-shrink: 0;
}

.search-icon {
  width: 24px;
}

#search-input {
  height: 36px;
  background: url(assets/magnifying-glass-solid.svg) no-repeat 7px;
  background-size: 16px;
  border: none;
  background-color: #f1f3f4;
  color: #5f6368;
  padding-left: 36px;
  font-size: 16px;
  border-radius: 5px;
}

.search-bar:focus-within {
  flex-grow: 100;
  margin-right: 36px;
}

.search-bar:focus-within #search-input {
  width: 99%;
}
.devsite-header:focus-within .menu {
  width: 0px;
  flex-grow: 0;
}

/* Navbar language selector */
.language-selector {
  height: 36px;
  line-height: 36px;
  width: 140px;
  display: flex;
  align-items: center;
  margin: 0px 10px;
  padding: 0px 4px;
  border-radius: 5px;
  border: 1px solid #d4d4d4;
  flex-shrink: 0;
}

.language-icon {
  margin-top: 10px;
}

.language-selector:hover {
  background-color: #f1f3f4;
}

.language-label {
  height: 36px;
  background: url(assets/web.png) no-repeat 10px 6px;
  padding-left: 42px;
  color: #5f6368;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}

.language-switch {
  display: none;
}

/* Developer profile */
.developer-profile {
  flex-shrink: 0;
}

.profile-label {
  margin: 0 10px;
  width: 32px;
  height: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid #c1c1c1;
}

.profile-label:hover {
  background-color: #f1f3f4;
  cursor: pointer;
}

.profile-dot {
  background-color: #5f6368;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  margin: 1px;
}

#profile-switch {
  display: none;
}

/* User icon */
.user-icon {
  margin: 0 10px;
  padding: 0;
  width: 32px;
  height: 32px;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  line-height: 32px;
  overflow: hidden;
}

.user-icon:hover {
  border: #c1c1c1 solid 2px;
  cursor: pointer;
}

.user-label {
  width: 100%;
  height: 100%;
  background-color: #f1f3f4;
  cursor: pointer;
}

.user-icon img {
  width: 100%;
  height: 100%;
}

#user-switch {
  display: none;
}

/* Banner */
.banner-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1a73e8;
  margin-top: 49px;
  padding: 0 2.5rem;
}

.banner {
  max-width: 1440px;
}

.banner-grid-container {
  display: grid;
  grid-column-gap: 32px;
  grid-template-columns: repeat(12, calc((100% - 352px - 5rem) / 12));
  padding: 2.5rem 0px;
  width: 100%;
}

.banner-content {
  grid-column-start: 1;
  grid-column-end: 7;
  color: #fff;
  margin: 2.5rem 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.banner-text {
  margin: 0;
  padding-top: 1rem;
}

.banner-content h3 {
  font-weight: lighter;
  font-size: 32px;
  line-height: 40px;
  cursor: pointer;
  margin: 0 0 24px 0;
}

.banner-content p {
  font-family: "Roboto, sans-serif";
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  margin: 0;
}

.banner-btn {
  border-radius: 5px;
  margin: 36px 4px 4px 0px;
  color: #fff;
  border: 1px solid #fff;
  background-color: #1a73e8;
  font-size: 14px;
  padding: 0 24px;
  height: 36px;
}

.banner-btn:hover {
  background-color: #1355ac;
  cursor: pointer;
}

.banner-img {
  grid-column-start: 7;
  grid-column-end: 13;
  margin: auto 0;
}

.banner-img img {
  width: 100%;
  border-radius: 9.6px;
}

.banner-img :hover {
  cursor: pointer;
}

/* Developer-product */
.developer-product {
  width: 100%;
  margin: auto;
}

.product-container {
  width: 100%;
  padding: 40px 0;
}

.product-text {
  text-align: center;
  width: 100%;
  height: 52px;
}

.product-text h2 {
  font-size: 44px;
  font-weight: 400;
}

.product-list {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  width: 25%;
  height: 156px;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.product-icon {
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-icon img {
  width: 64px;
}

.product-icon:hover {
  cursor: pointer;
}

.product-name {
  width: 100%;
  height: 24px;
  text-align: center;
}

.product-btn-container {
  padding: 40px 0 100px 0;
}

.product-btn {
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-btn button {
  background-color: #1a73e8;
  color: #fff;
  margin: 4px 4px 4px 12px;
  padding: 0 24px;
  min-width: 36px;
  width: 228.5px;
  height: 36px;
  font-size: 14px;
  font-weight: 100;
  border: none;
  border-radius: 5px;
}

.product-btn button:hover {
  background-color: #1d6acf;
  box-shadow: 0px 1px 2px #585858;
  cursor: pointer;
}

.event-container {
  width: 100%;
  padding-bottom: 40px;
}

.event-card-container {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.event-card {
  width: calc(50% - 14px);
  border: 1px solid #d4d4d4;
  border-radius: 10px;
}

.event-image {
  width: 100%;
}

.event-image-container {
  position: relative;
}

.community-image-container {
  position: relative;
}

.event-figure {
  width: 100%;
  margin: 0;
  padding: 0;
}

.event-image-container ::before {
  content: "";
  background: url(https://developers.google.com/site-assets/images/home/events-graphic.png)
    no-repeat 0px;
  background-size: contain;
  width: 160px;
  height: 160px;
  display: block;
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
}

.community-image-container ::before {
  content: "";
  background: url(https://developers.google.com/site-assets/images/home/community-graphic.png)
    no-repeat 0px;
  background-size: contain;
  width: 160px;
  height: 160px;
  display: block;
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
}

.event-text {
  padding: 16px;
}

.event-text h3 {
  font-size: 24px;
  height: 32px;
  margin: 0 0 24px 0;
  color: #1a73e8;
  font-weight: 200;
}

.event-text h3:hover {
  cursor: pointer;
}

.event-text p {
  font-family: "Roboto", "sans-serif";
  font-size: 16px;
  line-height: 24px;
  color: #202124;
  font-weight: 100;
  margin: 0;
}

.event-text-btn {
  margin: 0 0 -4px -12px;
  padding: 16px 0 0 0;
}

.event-text-btn button {
  margin: 4px 4px 4px 12px;
  padding: 0 24px;
  height: 36px;
  font-size: 14px;
  background-color: #fff;
  color: #1a73e8;
  border: 1px solid #c1c1c1;
  border-radius: 5px;
}

.event-text-btn button:hover {
  background-color: #dde9f9;
  cursor: pointer;
}

/* News */
.news {
  width: 100%;
  margin: auto;
}

.news-wrapper {
  width: 100%;
  background-color: #f1f3f4;
  padding: 40px 0;
}

.news-container {
  width: 100%;
  margin: auto;
}

.news-title {
  width: 100%;
  max-width: 1440px;
  color: #202124;
  height: 40px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.news-title h2 {
  font-size: 32px;
  margin: 0;
  padding: 0;
}

.news-flex-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1440px;
  margin: 32px auto -30px auto;
}

.news-card {
  background-color: #fff;
  width: calc(25% - 20px);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
  border-radius: 10px;
  /* box-sizing: border-box; */
  border: 1px #c1c1c1 solid;
}

.news-image-wrapper {
  width: 96px;
  height: 191.25px;
  display: flex;
  align-items: center;
}

.news-image-container {
  width: 96px;
}

.news-image-container img {
  width: 96px;
}

.news-card-text {
  width: 100%;
  height: 184px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  padding: 16px;
  position: relative;
}

.news-card-text a {
  text-decoration: none;
  font-size: 24px;
  line-height: 32px;
  font-weight: lighter;
  color: #1a73e8;
}

.news-card-text p {
  color: #202124;
  font-family: "Roboto", "sans-serif";
  font-weight: lighter;
  font-size: 16px;
  line-height: 24px;
  margin: 24px 0 0 0;
}

.news-card-btn {
  position: absolute;
  left: 16px;
  bottom: 12px;
  margin: 32px 0px -2px -12px;
  padding: 16px 0 0 0;
}

.news-card-btn button {
  margin: 0 4px;
  padding: 0 8px;
  border: none;
  font-size: 14px;
  background-color: inherit;
  color: #1a73e8;
  height: 36px;
  border-radius: 5px;
}

.news-card-btn button:hover {
  background-color: #dde9f9;
}

/* Developers-section */
.developers-section {
  width: 100%;
}

.developers-section-wrapper {
  width: 100%;
}

.developers-section-container {
  width: 100%;
  /* box-sizing: border-box; */
  padding-bottom: 40px;
  border-bottom: 1px solid #c1c1c1;
}

.developers-banner {
  background-color: inherit;
  width: 100%;
  max-width: 1440px;
  margin: auto;
  padding: 40px 0px;
  text-align: center;
}

.developers-banner h2 {
  font-size: 32px;
  color: #202124;
}

.developers-banner-text {
  width: 100%;
  max-width: 856px;
  margin: 16px auto 0 auto;
}

.developers-banner-text p {
  font-size: 18px;
  line-height: 24px;
  font-family: "Roboto", "sans-serif";
  font-weight: lighter;
  margin: 0;
}

.developers-banner-btn {
  width: 100%;
}

.developers-banner-btn button {
  margin: 32px 0 0 0;
  padding: 0 24px;
  height: 36px;
  /* box-sizing: border-box; */
  border: 1px solid #c1c1c1;
  border-radius: 5px;
  font-size: 14px;
  color: #1a73e8;
  background-color: inherit;
}

.developers-banner-btn button:hover {
  background-color: #dde9f9;
}

.developers-prrofile-wrapper {
  width: 100%;
  padding: 0 40px 0 0;
}

.developers-profile-container {
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  margin: 0 auto;
}

.developer-profile-card {
  /* box-sizing: border-box; */
  border: 1px solid #c1c1c1;
  border-radius: 10px;
  width: 22%;
  padding: 20px 20px 0px 20px;
  text-align: center;
}

.developer-image {
  margin: 0 auto 20px auto;
  padding: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.developer-image img {
  width: 100%;
  height: 100%;
}

.developer-info h3 {
  font-size: 24px;
  color: #202124;
  font-weight: lighter;
  margin: 0 0 10px 0;
}

.developer-info p {
  font-size: 16px;
  color: #202124;
  font-weight: lighter;
  margin: 0 0 16px 0;
}

.developer-info-detail {
  width: 100%;
  margin: 16px 0px;
}

.developer-info-detail h4 {
  margin: 0;
  font-weight: lighter;
  font-size: 16px;
  line-height: 24px;
}

.developer-info-detail p {
  margin: 0;
  color: #c1c1c1;
  font-weight: lighter;
  font-size: 16px;
  line-height: 24px;
}

.developer-profile-card-btn button {
  margin: 0 auto 20px 0;
  padding: 0 8px;
  height: 36px;
  background-color: inherit;
  color: #1a73e8;
  font-size: 14px;
  border-radius: 5px;
  border: none;
}

.developer-profile-card-btn button:hover {
  background-color: #dde9f9;
  cursor: pointer;
}

/* Footer */
.footer-section {
  width: 100%;
}

.footer-container {
  padding: 0px 24px 0px 24px;
  width: calc(100% - 48px);
}

.footer-link-container {
  width: 100%;
  margin: 0;
  padding: 24px 0px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  /* box-sizing: border-box; */
  border-bottom: 1px solid #c1c1c1;
}

.footer-link-box {
  text-align: left;
  width: 30%;
}

.footer-link-box h3 {
  margin: 1px 0px 4px 0px;
  font-size: 16px;
  color: #202124;
  font-weight: lighter;
}

.footer-link-box ul {
  padding: 0;
}

.footer-link-box li {
  list-style: none;
  padding: 8px 0px;
}

.footer-link-box a {
  color: #202124;
  text-decoration: none;
  font-size: 14px;
  padding: 0;
  margin: 0;
  line-height: 14px;
  font-weight: lighter;
}

.devsite-footer-container {
  width: 100%;
  padding: 24px 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  /* box-sizing: border-box; */
  border-bottom: 1px solid #c1c1c1;
}

.devsite-footer-logo {
  width: 185px;
  height: 32px;
  margin-right: 20px;
}

.devsite-footer-logo img {
  width: 100%;
  height: 100%;
}

.footer-menu-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 527.08px;
}

.footer-item a {
  color: #585858;
  font-family: "Roboto", "sans-serif";
  text-decoration: none;
}

.footer-utility-wrapper {
  width: 100%;
  padding: 24px 0px;
  display: flex;
}

.footer-utility-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
}

.footer-utility-item {
  font-size: 14px;
  color: #585858;
  font-family: "Roboto", "sans-serif";
  position: relative;
}

#privacy-item {
  margin-left: 5px;
  padding-left: 5px;
  border-left: 2px solid #6d6c6c;
}

.subscribe-btn-container {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.subscribe-btn-text h4 {
  font-size: 14px;
  font-weight: lighter;
  font-family: "Roboto", "sans-serif";
  color: #585858;
  padding: 0px 20px;
  margin: 0px;
}

.subscribe-btn button {
  height: 36px;
  background-color: #1a73e8;
  color: #fff;
  font-size: 14px;
  padding: 0px 24px;
  margin: 0px;
  border: none;
  border-radius: 5px;
}

.subscribe-btn button:hover {
  background-color: #1d6acf;
  box-shadow: 0px 1px 2px #585858;
  cursor: pointer;
}

.language-switch-footer {
  display: none;
}

@media (max-width: 1440px) {
  .news-flex-container {
    width: 90%;
  }

  .developers-profile-container {
    width: 90%;
  }

  .banner-grid-container {
    padding: 1.5rem 0;
  }
}

@media (max-width: 840px) {
  /* Navbar RWD */
  .menu-list {
    width: 0px;
  }

  .toggle {
    display: block;
  }

  /* News RWD */
  .news-card {
    width: calc(50% - 20px);
  }

  .banner-grid-container {
    padding: 0;
  }

  /* Developer RWD */
  .developer-profile-card {
    width: 48%;
    margin-bottom: 20px;
  }

  .footer-menu-container {
    width: 100%;
  }

  .footer-item {
    width: 100%;
    margin: 10px 0px;
  }

  .footer-utility-wrapper {
    flex-wrap: wrap;
  }

  .footer-utility-container {
    width: 100%;
    justify-content: flex-start;
  }

  .subscribe-btn-container {
    width: 100%;
    justify-content: flex-start;
  }

  .subscribe-btn-text h4 {
    padding-left: 0px;
  }

  .footer-language-btn > .language-selector {
    margin: 0;
  }
}

@media (max-width: 599px) {
  /* Banner section RWD */
  .banner-grid-container {
    padding-top: 2.5rem;
  }

  .banner-content {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .banner-img {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  /* Product section RWD */
  .product-card {
    width: 50%;
  }

  .event-card {
    width: calc(100% - 28px);
    margin-bottom: 48px;
  }

  .news-card {
    width: calc(100%);
  }

  .footer-link-box {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .developer-profile-card {
    width: 100%;
  }
}
