body {
  margin: 0;
  padding: 0;
  font-family: "Google Sans", sans-serif;
  width: 100vw;
  overflow-x: hidden;
}

/* NavBar */

.devsite-header {
  background-color: #fff;
  margin: 0;
  padding: 0px 24px 0px 24px;
  position: fixed;
  top: 0;
  width: 98vw;
  max-width: 100%;
  height: 48px;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* Navbar logo */
.logo {
  width: 185px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.logo img {
  width: 100%;
  margin-top: 5px;
}

/* Developer product menu list */
.nav-wrapper {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  overflow: hidden;
  min-width: 0px;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 48px;
  overflow: hidden;
  min-width: 0px;
  flex: 1 1 auto;
}

.menu-list {
  margin: 0 36px 0 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}

.menu-list li {
  /* width: -moz-fit-content; */
  width: fit-content;
  list-style: none;
  font-size: 14px;
  font-weight: 400;
  padding: 10px 16px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  min-width: fit-content;
}

.menu-list :hover a {
  border-bottom: none;
}

.menu-list a {
  color: #5f6368;
  text-decoration: none;
}

.menu-arrow {
  color: #5f6368;
  display: inline-block;
  transform: scale(0.8, 0.5);
  margin: 0px 5px;
}

.toggle {
  display: none;
  width: 30px;
  margin-right: 2rem;
  line-height: 50px;
  cursor: pointer;
}

.hamberger-menu {
  border: 1px black solid;
  width: 30px;
  margin: 0.3rem;
}

#switch {
  display: none;
}

/* Navbar Search bar */
.search-bar {
  margin: 6px 0 6px 36px;
  flex-shrink: 0;
  flex-grow: 0;
  flex-shrink: 0;
}

.search-icon {
  width: 24px;
}

#search-input {
  height: 36px;
  background: url(assets/magnifying-glass-solid.svg) no-repeat 7px;
  background-size: 16px;
  border: none;
  background-color: #f1f3f4;
  color: #5f6368;
  padding-left: 36px;
  font-size: 16px;
  border-radius: 5px;
}

.search-bar:focus-within {
  flex-grow: 100;
  margin-right: 36px;
}

.search-bar:focus-within #search-input {
  width: 99%;
}
.devsite-header:focus-within .menu {
  width: 0px;
  flex-grow: 0;
}

/* Navbar language selector */
.language-selector {
  height: 36px;
  line-height: 36px;
  width: 140px;
  display: flex;
  align-items: center;
  margin: 0px 10px;
  padding: 0px 4px;
  border-radius: 5px;
  border: 1px solid #d4d4d4;
  flex-shrink: 0;
}

.language-icon {
  margin-top: 10px;
}

.language-selector:hover {
  background-color: #f1f3f4;
}

.language-label {
  height: 36px;
  background: url(assets/web.png) no-repeat 10px 6px;
  padding-left: 42px;
  color: #5f6368;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}

.language-switch {
  display: none;
}

/* Developer profile */
.developer-profile {
  flex-shrink: 0;
}

.profile-label {
  margin: 0 10px;
  width: 32px;
  height: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid #c1c1c1;
}

.profile-label:hover {
  background-color: #f1f3f4;
}

.profile-dot {
  background-color: #5f6368;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  margin: 1px;
}

#profile-switch {
  display: none;
}

/* User icon */
.user-icon {
  margin: 0 10px;
  padding: 0;
  width: 32px;
  height: 32px;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  line-height: 32px;
  overflow: hidden;
}

.user-icon:hover {
  border: #c1c1c1 solid 2px;
}

.user-label {
  width: 100%;
  height: 100%;
  background-color: #f1f3f4;
  cursor: pointer;
}

.user-icon img {
  width: 100%;
  height: 100%;
}

#user-switch {
  display: none;
}

/* Banner */
.banner-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1a73e8;
  box-shadow: 0px 12px 12px -12px #585858 inset;
  margin-top: 49px;
  padding: 0 2.5rem;
}

.banner {
  max-width: 1500px;
}

.banner-grid-container {
  display: grid;
  grid-column-gap: 32px;
  grid-template-columns: repeat(12, 6%);
  width: 100%;
}

.banner-content {
  grid-column-start: 1;
  grid-column-end: 7;
  color: #fff;
  margin: 2.5rem 0;
  padding: 2.5rem 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.banner-text {
  margin: 0;
  padding-top: 1rem;
}

.banner-content h3 {
  font-family: "Google Snas, sans-serif";
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  cursor: pointer;
  margin: 0 0 24px 0;
}

.banner-content p {
  font-family: "Roboto, sans-serif";
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  margin: 0;
}

.banner-btn {
  border-radius: 5px;
  margin: 36px 4px 4px 0px;
  color: #fff;
  border: 1px solid #fff;
  background-color: #1a73e8;
  font-size: 14px;
  padding: 0 24px;
  height: 36px;
}

.banner-btn:hover {
  background-color: #1355ac;
}

.banner-img {
  grid-column-start: 7;
  grid-column-end: 13;
  margin: 2.5rem 0;
}

.banner-img img {
  width: 100%;
  border-radius: 9.6px;
}

/* Developer-product */
.product-container {
  width: 100%;
  padding: 40px 0;
}

.product-text {
  text-align: center;
  width: 100%;
  height: 52px;
}

.product-text h2 {
  font-size: 44px;
  font-weight: 400;
}

.product-list {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  width: 25%;
  height: 156px;
  /* display: flex; */
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.product-icon {
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-icon img {
  width: 64px;
}

.product-name {
  width: 100%;
  height: 24px;
  text-align: center;
}

.product-btn-container {
  padding: 40px 0 100px 0;
}

.product-btn {
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-btn button {
  background-color: #1a73e8;
  color: #fff;
  margin: 4px 4px 4px 12px;
  padding: 0 24px;
  min-width: 36px;
  width: 228.5px;
  height: 36px;
  font-size: 14px;
  font-weight: 100;
  border: none;
  border-radius: 5px;
}

.product-btn button:hover {
  background-color: #1d6acf;
  box-shadow: 0px 1px 2px #585858;
}

.event-container {
  width: 100%;
  padding-bottom: 40px;
  /* background-color: #1355ac; */
}

.event-card-container {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.event-card {
  /* box-sizing: border-box; */
  width: calc(50% - 14px);
  border: 1px solid #d4d4d4;
  border-radius: 10px;
}

.event-image {
  width: 100%;
}

.event-image-container {
  position: relative;
}
.community-image-container {
  position: relative;
}

.event-figure {
  width: 100%;
  margin: 0;
  padding: 0;
}

.event-image-container ::before {
  content: "";
  background: url(https://developers.google.com/site-assets/images/home/events-graphic.png)
    no-repeat 0px;
  background-size: contain;
  width: 160px;
  height: 160px;
  display: block;
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.community-image-container ::before {
  content: "";
  background: url(https://developers.google.com/site-assets/images/home/community-graphic.png)
    no-repeat 0px;
  background-size: contain;
  width: 160px;
  height: 160px;
  display: block;
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.event-text {
  padding: 16px;
}

.event-text h3 {
  font-size: 24px;
  height: 32px;
  margin: 0 0 24px 0;
  color: #1a73e8;
  font-weight: 200;
}

.event-text p {
  font-family: "Roboto", "sans-serif";
  font-size: 16px;
  line-height: 24px;
  color: #202124;
  font-weight: 100;
  margin: 0;
}

.event-text-btn {
  margin: 0 0 -4px -12px;
  padding: 16px 0 0 0;
}

.event-text-btn button {
  margin: 4px 4px 4px 12px;
  padding: 0 24px;
  height: 36px;
  font-size: 14px;
  background-color: #fff;
  color: #1a73e8;
  border: 1px solid #c1c1c1;
  border-radius: 5px;
}
