extends layout

block content
  h1 Hello, enter your name to sign up.

  input(type="text" placeholder="Type your name here" id="usernameInput")
  button(id="submitBtn") Submit

  script(type='text/javascript' ,src='javascripts/signup.js')
  